@charset "utf-8";

/* CSS Document */
@media(min-width:320px) and (max-width:480px) {
.padding_786 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.fh5co_mediya_setting {
	display: block;
	text-align: center;
	padding: 10px 0;
}
.treding_btn {
	background: #f5bc04;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	padding: 5px 40px;
}
.fh5co_treding_position_absolute {
	display: none;
}
.fh5co_mediya_center {
	text-align: center;
}
.fh5co_logo_width {
	display: none!important;
}
.fh5co_mediya_right {
	text-align: center!important;
}
.fh5co_padding_menu {
	padding: 0px 0;
	padding-top: 10px;
}
.mobile_logo_width {
	width: 100px;
	display: block!important;
	margin-left: 20px;
	padding-bottom: 10px;
}
.fh5co_padd_mediya {
	padding-top: 0px;
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
}
.navbar-light .navbar-nav .nav-link {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
}
.fh5co_display_table {
	height: 25px;
	width: 25px;
	display: table;
	color: #777;
	font-size: 18px;
	border: 1px solid #fff!important;
	cursor: pointer;
	border-radius: 50%;
	transition: 1s;
	margin: 0 10px;
	color: #777!important;
}
.fh5co_conty_width {
	margin-top: 10px;
}
.fh5co_good_font {
	font-size: 16px;
}
.fh5co_good_font_2 {
	font-size: 14px;
}
.fh5co_suceefh5co_height_2 {
	height: 200px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.fh5co_suceefh5co_height_2 > img {
	height: 200px;
	width: 100%;
}
.fh5co_suceefh5co_height {
	height: auto;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.fh5co_suceefh5co_height > img {
	height: auto;
	width: 100%;
}
.fh5co_suceefh5co_height_position_absolute_font {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 7;
	top: 60%;
	left: 5%;
	padding: 0 10px;
}
.fh5co_footer_bg {
	background: #222;
	color: #fff;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.spdp_right {
	text-align: center;
}
.footer_img_post_6 {
	height: 30px;
	width: 50px;
	overflow: hidden;
	margin: 10px 10px;
	display: inline-block;
}
.footer_img_post_6 > img {
	width: 50px;
	height: 30px;
}
.Reserved {
	text-align: center;
}
.btn_mange_pagging {
	background: #f1f1f1;
	padding: 12px 5px;
	color: #222!important;
	font-weight: 800;
	margin: 0 5px;
	transition: 0.5s;
	font-size: 12px;
}
.btn_pagging {
	background: #f1f1f1!important;
	color: #222;
	padding: 12px 10px!important;
	font-weight: 800;
	margin: 0 5px;
	transition: 0.5s;
	font-size: 12px;
}
.btn_mange_pagging:hover, .btn_mange_pagging:focus {
	background: #222;
	color: #fff!important;
	font-weight: 800;
}
.btn_pagging:hover, .btn_pagging:focus {
	background: #222!important;
	color: #fff;
}
}

@media(min-width:480px) and (max-width:767px) {
	.fh5co_latest_trading_img {
		height: 226px;
	}

	.fh5co_latest_trading_img > img {
		height: 240px;
	}

	.fh5co_img_special_relative {
		right: 0;
	}

	.fh5co_logo_width {
		display: none;
	}

	.mobile_logo_width {
		width: 100px;
		display: block !important;
		margin-left: 20px;
		padding-bottom: 10px;
	}

	.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
	}

	.navbar-light .navbar-nav .nav-link {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		.fh5co_mediya_center {
			font-size: 12px;
		}

		.fh5co_logo_width {
			display: none;
		}

		.fh5co_mediya_right {
			padding-top: 20px;
		}

		.mobile_logo_width {
			width: 100px;
			display: block !important;
			margin-left: 20px;
			padding-bottom: 10px;
		}

		.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
		}

		.navbar-light .navbar-nav .nav-link {
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
		}

		.fh5co_good_font {
			font-size: 18px;
		}

		.fh5co_good_font_2 {
			font-size: 16px;
		}

		.fh5co_contact_us_no_icon_difh5co_hover_2 {

			text-align: right;

		}

	}

	@media (min-width: 1025px) and (max-width: 1170px) {
	}

	@media (min-width: 991px) and (max-width: 1024px) {
		.mobile_logo_width {
			display: none;
		}

		.fh5co_logo_width {
			display: block;
		}

		.fh5co_good_font {
			font-size: 20px;
		}

		.fh5co_good_font_2 {
			font-size: 14px;
		}
	}
}
